@font-face {
  font-family: "Montserrat";
  src: url("public/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("public/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
